<% present @game do |game_presenter | %>
<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= game_presenter.name %><br>
  
    <% if(game_presenter.teams)%>
    <%   game_presenter.teams.each do |t| %>
    <h3><%= t.name%> - <%= game_presenter.team_total(t)%><small> (<%= game_presenter.team_stats_display(t)%>)</small> </h3>
        <ul>
        <% game_presenter.players(t).each do |p| %>
            <li> <%=p.name%> = <%= game_presenter.player_total(p) %>
                <small> (<%= game_presenter.player_stats_display(p)%>)</small>
        <% end %>
        </ul>
    <% end %>
    <% end %>
   </p>
    <% if(@game_log) %>

        <p>  Game Log
             <ul>
     <% @game_log.each do |x| %>
                       <li>     <%=  x   %>       </li>
          <% end %>      </ul>
    </p>
        <% end %>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<% end %>