<h1>Listing statistic_types</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statistic_types.each do |statistic_type| %>
  <tr>
    <td><%= statistic_type.code %></td>
    <td><%= statistic_type.points %></td>
    <td><%= link_to 'Show', statistic_type %></td>
    <td><%= link_to 'Edit', edit_statistic_type_path(statistic_type) %></td>
    <td><%= link_to 'Destroy', statistic_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Statistic type', new_statistic_type_path %>
